body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fbeeea;
}

nav{
    width: 90vw;
    margin: auto;
}
nav b{
    margin:5em auto;
}


nav+section{
    border-radius:15px 15px 0% 0%;
    background-color: white;
    height: 80vh;
    padding:2vh  ;
}
section>p{
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #8A8A8A;
}

p>span{
    color: black;
}
.withdraw-detail input{
    border: none;
    width: 95%;
    margin: 1vh auto;
    font-size: 0.8em;
    padding: 0.1em 0.2;
    color: rgb(24, 189, 129)
}
.withdraw-detail input:focus{
    outline: none;
}
.withdraw-details{
    margin: 3vh auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-top: 1px solid #DD977F;
    border-bottom: 1px solid #DD977F;
}

.withdraw-detail{
    margin: 3vh auto;
    /* border-top: 1px solid #DD977F; */
    width: 5;
    border-bottom: 1px solid rgb(128, 128, 128);
    opacity: 0.8;
    border-radius: 3px;
}

.withdraw-details>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-size: 0.9em;
}
.withdraw-details>div>p:first-child{
    color: #7B7B7B;
}
.withdraw-details>div>p:last-child{
color: #24262C;
}



 .withdraw_instruction button:hover{
    background: #D7937A;
}
li{
    letter-spacing: 0.3px;
color: #8a8a8ab1;
font-size: 0.8em;
width: 100%;
padding: 0px;
line-height: 1.7em;
}

.withdraw_instruction{
    width: 95%;
    margin: auto;
}

